.toggle-btn{
    margin-left: 25px;
    /* margin-top: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-btn:focus{
    outline: none;
}

.toggle-btn-line{
    /* color: black; */
    width: 30px;
    height: 2px;
    background: black;
    
}