#hr2 {
    margin-top: 55px;
    border-top: 1px solid black;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6f6660;
}

.ft-1{
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
}
.ft-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px ;
}
.ft {
    /* padding: 1px 0px; */
    margin: 0px 20px;
}
.space{
    margin: 0 5px;
}
.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}




@media (min-width:796px){
    .footer{
        
    }
    .ft-1{
       
       
    }
    .ft-logo{
       
    }
    .copy{
    }
    
}