.footer {
    justify-content: center;
    display: flex;
    color: #6f6660;
    /* padding: 25px 25px; */
}

#hr2 {
    margin-top: 55px;
    border-top: 1px solid black;
}

.footer ul {
    text-decoration: none;
    display: flex;
}

.footer ul li {
    font-size: 14px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.ft {
    padding: 1px 0px;
    margin: 0px 66px;
}

.footer ul li img {
    justify-content: center;
    align-items: center;
}

.footer-logo {
    margin-top: -4px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 12px;
}

@media (max-width:796px){
    .footer{
        /* display: flex; */
        /* flex-direction: column; */
        justify-content: space-around;
        width: 100vw;
    }
    .ft {
        display: flex;
        flex-direction: column;
        /* padding: 1px 0px; */
        margin: 0px 0px;
    }
}